@import 'config';

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box
}

html {
  scroll-behavior: smooth;
  overflow: auto;
}

.app {
  position: relative;
  background-color: var(--colorBackground);
  color: var(--colorBase);
  font-family: $body;
  margin: 0;
  overflow: hidden;
}

img {
  max-width: 100%;
}

p {
  padding: 0.25rem 0;
}

ol,
ul {
  padding-left: 3rem;
}

a {
  text-decoration: none;
  color: var(--colorPrimary);
  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

.hidden,
.s-hidden {
  display: none;
}
.visible {
  display: block !important;
}
.primary {
  color: var(--colorPrimary);
}

.light-mode {
  .logo__img--light {
    display: initial;
  }
  .logo__img--dark {
    display: none;
  }
}

.dark-mode {
  .illustrations {
    // filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    // filter: invert(96%) sepia(5%) saturate(187%) hue-rotate(314deg) brightness(93%) contrast(90%);
    filter: invert(60%);
  }
  .presentation__img {
    &::before {
      filter: brightness(0) saturate(100%) invert(21%) sepia(100%) saturate(6162%) hue-rotate(170deg) brightness(102%) contrast(106%);
    }
  }
  .logo__img--light {
    display: none;
  }
  .logo__img--dark {
    display: initial;
  }
}

.container {
  padding: 1rem;
}

.main {
  padding-top: 12rem;
}

section:not(:first-of-type) {
  margin: 8rem 0;
}

#cursor {
  display: none;
}

@import 'responsive';