/*
 * MIN-WIDTH : 768px
 */
@media (min-width:$medium) {
    .s-hidden {
        display: block;
    }
    // a,
    // button {
    //     cursor: none;
    // }
    // body {
    //     cursor: none;
    // }
    section:not(:first-of-type) {
        margin: 0;
    }
    section {
        min-height: 70vh;
        display: flex;
        align-items: center;
    }
    .section__container {
        width: 100%;
    }

    // ANIMATIONS

    .loadHome {
        opacity: 0;
      }
    .logo,
    .menu__container,
    .presentation {
        transition: 1s;
    }

    // #cursor {
    //     width: 20px;
    //     height: 20px;
    //     border-bottom: 20px solid var(--colorSecondary);
    //     border-left: 20px solid var(--colorPrimary);
    //     border-radius: 50%;
    //     position: fixed;
    //     z-index: 100;
    //     left: 50%;
    //     top: 50%;
    //     transform: translate(-50%, -50%) rotate(270deg);
    //     pointer-events: none;
    //     filter: drop-shadow(0 0 10px var(--colorBackground));
    //     // transition: width 200ms ease-in, height 200ms ease-in;
    //     &.cursor--hovered {
    //         width: 30px;
    //         height: 30px;
    //         // transition: 200ms;
    //     }
    // }

}

/*
 * MIN-WIDTH : 1160px
 */
@media (min-width:$xLarge) {

    .container {
        max-width: 1060px;
        margin: auto;
    }

}