.svgSketch {
    display: none;
}

/*
 * MIN-WIDTH : 1160px
 */
 @media (min-width: 1160px) {

    .svgSketch {
        display: block;
        svg {
            display: inline-block;
            position: fixed;
            top: 0;
            height: 100%;
            stroke-width: 2px;
            right: -10px;
            stroke: var(--colorBase);
            z-index: 0;
        }
    }

}