.svgSketch {
    display: none;
}

/*
 * MIN-WIDTH : 1160px
 */
 @media (min-width: 1160px) {

    .svgSketch {
        display: block;
        svg {
            display: inline-block;
            position: fixed;
            top: 0;
            height: 100%;
            stroke-width: 2px;
            right: -10px;
            stroke: var(--colorBase);
            z-index: 1;
        }
        // path {
        //     stroke-dasharray: 7045.52, 7045.52; 
        //     stroke-dashoffset: 3522.76;
        // }
    }

}