@import '../../config.scss';

.toggleSwitch {
    position: absolute;
    width: 57px;
    right: 2rem;
    top: 1rem;
    z-index: 2;
    &__container {
        position: absolute;
        width: 100%;
        height: 35px;
        background-color: var(--colorSecondary);
        border-radius: 50px;
        cursor: pointer;
    }
    &__input {
        position: absolute;
        display: none;
    }
    &__input:checked ~ .toggleSwitch__slider {
        background-color: #ffffff;
        border: 1px solid var(--colorSecondary);
        &::before {
            transform: translate(20px, -50%);
            background-color: var(--colorSecondary);
            box-shadow: none;
        }
    }
    &__slider {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        transition: 0.3s;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 10px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            box-shadow: inset 7px -4px 0px 0px #ffffff;
            background-color: var(--colorSecondary);
            transition: 0.3s;
            transform: translate(0, -50%);
        }
    }
}
@media (min-width:$medium), (pointer:coarse) {
    .toggleSwitch__slider {
        cursor: none;
    }
}