@import '../config.scss';

// PRESENTATION 

.presentation {
    &__img {
        width: 60%;
        height: 0;
        border-radius: 50%;
        background-image: url('/img/portrait.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: auto;
        margin-top: 1rem;
        padding-bottom: 60%;
        position: relative;
        &::before {
            content: url(/img/blob.svg);
            position: absolute;
            width: 140%;
            height: 120%;
            z-index: -1;
            bottom: 0rem;
            left: -3rem;
        }
    }
    &__content {
        margin-top: 2rem;
    }
    &__links {
        margin-top: 2rem;
        a {
            margin-top: 1rem;
        }
    }
  }

// INSPIRATIONS

.inspirations {
    margin-top: 3rem;
    &__item {
      margin-bottom: 5rem;
      transition: 0.2s;
      &:hover,
      &:active,
      &:focus {
        transform: scale(1.05);
        transition: 0.2s;
        img {
          transform: rotate(15deg);
          transition: 0.2s;
        }
      }
    }
  }

  /*
 * MIN-WIDTH : 576px
 */
@media (min-width:$small) {

    // PRESENTATION 
    .presentation {
        &__img {
        width: 50%;
        padding-bottom: 50%;
        }
    }
    
}


  /*
 * MIN-WIDTH : 768px
 */
@media (min-width:$medium) {

    // PRESENTATION 
    .presentation {
        &__img {
            position: relative;
            width: 80%;
            padding-bottom: 80%;
        }
        &__content {
        .title {
            margin-bottom: 2rem;
        }
        }
        &__links {
        a {
            margin-top: 0;
            margin-right: 1rem;
        }
        }
    }
    // INSPIRATIONS
    .inspirations {
        &__item {
            margin-bottom: 2rem;
        }
    }
}