@import '../config.scss';

.columns {
    display: grid;
}

.columns--two {
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
}

/*
 * MIN-WIDTH : 768px
 */
@media (min-width:$medium) {
    .columns--three {
        grid-template-columns: repeat(2,1fr);
        grid-gap: 3rem;
    }
    .columns.columns--leftBigger {
        grid-template-columns: 2fr 1fr;
    }
    .columns.columns--rightBigger {
        grid-template-columns: 1fr 2fr;
    }
}

/*
 * MIN-WIDTH : 992px
 */
 @media (min-width:$large) {
    .columns--three {
        grid-template-columns: repeat(3,1fr);

    }
}