@import '../config.scss';

.columns {
    display: grid;
}

.columns--two {
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
}

/*
 * MIN-WIDTH : 768px
 */
@media (min-width:$medium) {
    .columns--three {
        @include columns(2);
        grid-gap: 3rem;
    }
    .columns.columns--leftBigger {
        @include columns(2,1);
        gap: 1rem
    }
    .columns.columns--rightBigger {
        @include columns(1,2);
        gap: 1rem
    }
}

/*
 * MIN-WIDTH : 992px
 */
 @media (min-width:$large) {
    .columns--three {
        @include columns(3);

    }
}