footer {
    position: relative;
    background-color: var(--colorSecondary);
    color: var(--colorBase);
    padding: 2rem;
    text-align: center;
    border-radius: 80px;
    margin: 0 1rem 1rem 1rem;
    z-index: 2;
  }
  footer span {
    -webkit-filter: invert(100%);
            filter: invert(100%);
  }