@import '../../config.scss';

footer {
    position: relative;
    background-color: var(--colorSecondary);
    color: var(--colorBase);
    padding: 2rem;
    text-align: center;
    border-radius: 80px;
    margin: 0 1rem 1rem 1rem;
    span {
      -webkit-filter: invert(100%);
      filter: invert(100%);
    }
  }

/*
* MIN-WIDTH : 1160
*/
@media (min-width: 1160px) {
  footer {
    z-index: 2;
  }
}