@import '../../config.scss';

.btn {
    display: block;
    font-size: 1.1rem;
    z-index: 0;
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        span {
        transform: translate(10px,-10px);
        transition: ease 0.1s;
        }
    }
    span {
        display: block;
        text-align: center;
        font-family: $title;
        font-weight: bold;
        padding: 0.5rem 2rem;
        border-radius: 0 10px;
        transition: ease 0.1s;
        z-index: 0;
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        mask-position: -1rem;
        width: 100%;
        height: 100%;
        border-radius: 0 10px;
        z-index: -1;
    }
    &--primary {
        @include bouton(var(--colorPrimary), $white)
    }
    &--secondary {
        @include bouton(var(--colorSecondary), $white)
    }
}

/*
 * MIN-WIDTH : 768px
 */
@media (min-width:$medium) {
    .btn {
        display: inline-block;
    }
}