@import '../../config.scss';

// HEADER
header {
    position: fixed;
    width: 100vw;
    background-color: var(--colorBackground);
    z-index: 1;
}


// LOGO
.logo {
    display: block;
    text-align: center;
    &__img {
        max-height: 50px;
        margin: 1rem 0;
    }
}


/*
 * MIN-WIDTH : 768px
 */
 @media (min-width: 768px) {
    // HEADER
    header {
        position: relative;
    }
    // LOGO
    .logo {
        margin-top: 1rem;
        &__img {
            max-height: 60px;
        }
    }
 }